---
const currentPage = Astro.props.currentPage || 'index';
import IndexHeroActu from "@partials/components/IndexHeroActu"; 
import LinksSocial from "@partials/components/LinksSocial";

// Génère le lien vers la page à partir du nom de l'image
function getLinkFromImage(image: string): string {
  const match = image.match(/^index_thumb-(.+)\.webp$/);
  if (match && match[1]) {
    return `/${match[1]}`; // lien propre sans extension
  }
  return "#";
}

// Génère le chemin de l'image dans le dossier public
function getImagePath(image: string): string {
  return `/img/index/thumbs/${image}`;
}

const actus = [
  { image: "index_thumb-temoignages.webp", className: "gallery__item-new" },
  /* { image: "index_thumb-entreprise.webp", className: "gallery__item-mid" }, */
  { image: "index_thumb-coaching-sportif-video.webp", className: "gallery__item-last" },
];
---
<div class="wrapper-1440-black">
  <div class="subWrapper-col2">
    <section class="hero">
      <div class="hero__content">
        <h1 class="hero__title title">Le seul mauvais entraînement est celui que l'on ne fait pas</h1>
        <p class="hero__subtitle">Votre corps mérite l'effort, votre esprit mérite la discipline. Ensemble, nous transformerons chaque excuse en une victoire personnelle. Faites le premier pas, le reste suivra.</p>
        <a href="/rdv" class="hero__cta button button-red" aria-label="prendre rendez-vous">Prendre rendez-vous</a>
      </div>
    </section>

    <section class="gallery">
      <div class="gallery__head">
        <h2 class="gallery__title">Actualité</h2>
        <!-- <a href="/actualite-generale">Tout voir</a> -->
      </div>
      
      <div class="gallery__grid">
        {actus.map((actu) => (
          <IndexHeroActu
			client:load
			image={getImagePath(actu.image)}
			link={getLinkFromImage(actu.image)}
			className={actu.className}
		/>
        ))}
        <div class="gallery__social">
          <LinksSocial client:load variant="white" />
        </div>
      </div>
    </section>
  </div>

<div class="hero__video">
  <video autoplay muted playsinline>
    <source src="/videos/index-hero-video.mp4" type="video/mp4">
  </video>
</div>

  <!-- <div class="hero__photo">
    <img
      src="/img/index__hero.png"
      alt=""
      loading="eager"
      aria-hidden="true"
      style="position:absolute;opacity:0;width:1px;height:1px;pointer-events:none;"
    />
  </div> -->
</div>
