---
import "@js/main.ts";
import Menu from "@partials/components/Menu"
import Footer from "@partials/components/Footer.astro";
import FooterMenu from "@partials/components/FooterMenu.astro";
import Seo from "@partials/components/Seo.astro";


export interface Props {
  title: string;
  description?: string;
  pageClass?: string;
  dataPage?: string;
  dataModules?: string;
  dataVariant?: string;
  seo?: {
    url: string;
    image?: string;
    schemaType?: "LocalBusiness" | "Organization" | "Article" | "Review";
  };
  preloadImage?: string; 
}

const {
  title,
  description,
  pageClass,
  dataPage,
  dataModules,
  dataVariant = "white",
  seo,
  preloadImage
} = Astro.props;
---

<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

     <!-- Roboto (import Google Fonts) -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet" />

  <!-- Nexa (preload local, déjà présent) -->
  <link rel="preload" as="font" href="/font/Nexa-Black.woff2" type="font/woff2" crossorigin />
  
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    {seo && (
      <Seo
        title={title}
        description={description ?? ""}
        url={seo.url}
        image={seo.image}
        schemaType={seo.schemaType}
        slot="head"
      />
    )}
    {preloadImage && (
      <link rel="preload" as="image" href={preloadImage} />
    )}
    <link rel="preload" href="/style/min_css/main.min.css" as="style" />
    <link rel="stylesheet" href="/style/min_css/main.min.css" media="print" onload="this.media='all'" />
    <noscript>
      <link rel="stylesheet" href="/style/min_css/main.min.css" />
    </noscript>
    <slot name="head" />
  </head>

  <body
    class={pageClass ?? ""}
    data-page={dataPage ?? ""}
    data-module={dataModules ?? ""}
    data-variant={dataVariant}
  >
    <Menu client:visible variant={dataVariant as "white" | "black"} />

      <slot />

{["legal", "privacy-policy", "thanks", "program"].includes(dataPage ?? "") ? (
  <FooterMenu />
) : dataPage === "contact" ? null : (
  <Footer />
)}
  </body>
</html>
